html>
<head>
    <title>Todo List</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Completed</th>
        </thead>
        <tbody>
             {% for todo in todos %}
             <tr>
                 <td>{{id}}</td>
                 <td>{{userId}}</td>
                 <td>{{title}}</td>
                 <td>{{completed}}</td>
             </tr>
             {% endfor %}
        </tbody>
    </table>
</body>
</html>